body {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	padding-top: 10%;
	padding-bottom: 10%;
	background-image: url(login_bg.gif);
	margin: 0px;
}
td {
	font-size: 12px;
	line-height: 180%;
}
.borderout {
	border: 1px solid #c9ccd1;
}
.inputl {
	font-size:9pt; 
	width:150px; 
}
.inputl2 {
	width: 60px;
}
.buttonl {
	background-image: url(login_11.gif);
	background-repeat: no-repeat;
	text-align: center;
	height: 22px;
	width: 66px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
