*  {padding:0;margin:0}
a  {outline:0}
img  {border:0}
html,body  {font-family:"Segoe UI", Tahoma, Arial, Verdana, "Microsoft YaHei","Dutch801 Rm BT", ΢微软雅黑, 宋体,Simsun;background-color:#f1f1f1;width:100%;height:100%;font-size: 12px;-webkit-text-size-adjust:none;}
body{margin:0 auto;}
ul,li  { list-style:none; color:#666666}
p,dl,dt,dd,h1,h2,h3,h4,h5,h6,form { margin:0; padding:0; font-weight: normal;}
input, select, textarea  {font-family:"Segoe UI", Tahoma, Arial, Verdana, "Microsoft YaHei", ΢微软雅黑, 宋体 ,Simsun;}
.clear  {clear:both;width:100%;line-height:1px;overflow:hidden;}
.font18{ font-size:18px;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.bold{ font-weight:bold}
.red{ color:#FF0000}
.gray{ color:#666666;}

#head{background:url(../../images/dxdsf_04.jpg) repeat-x; width:100%; height:59px;}
#head .logo{margin:0 auto;width:1000px;height:59px;position:relative;}
#head .logo .wz{padding:20px 0 0 46px;font:bold 24px/150% "Dutch801 Rm BT","Microsoft YaHei";color:#262626;}

#content{margin:15px auto;position:relative;width:800px;height:438px; background:#fff url(../../images/dxdsf_06.jpg) no-repeat;}
#content .wz1,#content .wz2,.error .wz{ font-family:Tahoma, Arial, Verdana,"宋体";}
#content .wz1{padding:16px 30px; line-height:19px;}
#content .wz2{padding:16px 60px; line-height:28px;}
#content .wz3{padding:16px 60px; font-size:20px;}
.line{width:800px;height:1px;background:#d7d7d7;}

#foot{background:url(../../images/dxdsf_14.jpg) repeat-x; width:100%; height:75px;}
#foot .wz{ padding-top:18px; text-align:center; color:#CCCCCC; line-height:22px}
.dd{list-style:outside; margin-left:2em;}
.d{ margin-left:2em;}

.error{margin:20px auto; width:517px; height:45px; background:url(../../images/dxdsf_01.png) no-repeat;}
.error .wz{padding:16px 60px; color:#FF0000}