@charset "gb2312";
#main #tonglan{
margin-top:6px;
width:984px;
height:auto;
}
#main #zbl{
width:156px;
float:left;
}
#main .zblwh{
width:156px;
height:656px;
float:left;
background-image:url(../images/wenhualinian11 (5).jpg);
background-repeat:repeat-x;
border:1px solid #cccccc;
}
#main .zblwh .dhkgwh{
width:156px;
height:30px;
}
#main .zblwh .dhwzwh1{
font-weight:bold;
margin-left:20px;
}
#main .zblwh .dhkbwh1{
width:156px;
height:20px;
}
#main .zblwh .dhwzwh2{
margin-left:20px;
color:#0088cc;
}
#main .zblwh .dhfgwh{
height:1px;
margin-top:10px;
margin-left:20px;
}
#main .zblwh1{
width:156px;
height:850px;
float:left;
background-image:url(../images/wenhualinian11 (5).jpg);
background-repeat:repeat-x;
background-color:#ffffff;
border:1px solid #cccccc;
}
#main .zblwh1 .dhkgwh{
width:156px;
height:30px;
}
#main .zblwh1 .dhwzwh1{
font-weight:bold;
margin-left:20px;
}
#main .zblwh1 .dhkbwh1{
width:156px;
height:20px;
}
#main .zblwh1 .dhwzwh2{
margin-left:20px;
color:#0088cc;
}
#main .zblwh1 .dhfgwh{
height:1px;
margin-top:10px;
margin-left:20px;
}


#main .yblwh{
height:auto;
margin-left:7px;
width:816px;
float:right;
background-color:#FFFFFF;
border:1px solid #cccccc;
display:inline;
!important; /* IE7/FF */
_width:404px;/* IE6 */
}
#main .yblwh .dabiaoti{
width:600px;
margin-top:40px;
margin-left:70px;
}
#main .yblwh .dabiaoti .ziti{
font-size:14px;
color:#CC3300;
}
#main .yblwh .fg{
height:1px;
width:699px;
margin-left:50px;
margin-top:10px;
}
#main .yblwh .shiyi1{
margin-left:160px;
}
#main .yblwh .shiyi2{
margin-top:50px;
margin-left:200px;
}
#main .yblwh .shiyi3{
margin-top:31px;
}
#main .yblwh .shiyi4{
margin-top:13px;
}
#main .yblwh .shiyi5{
margin-left:160px;
margin-top:20px;
}
#main .yblwh .shiyi6{
margin-left:130px;
margin-top:5px;
}
#main .yblwh .shiyi7{
margin-top:13px;
}
#main .yblwh .shiyi8{
margin-left:80px;
margin-top:0px;
}
#main .yblwh .shiyiwz{
margin-top:20px;
margin-left:110px;
}
#main .yblwh .shiyiwz .wzxx{
	font-size:14px;
	color:#666666;
	line-height:28px;
}


#main #zbl #toubu{
height:25px;
width:157px;
background-image:url(../images/diannaowuyou_37.jpg);
margin-top:0px;
}
#main #zbl #toubu #blbt{
height:5px;
width:157px;
}
#main #zbl #toubu .tbhc{
font-size:14px;
font-weight:bold;
color:#FFFFFF;
margin-left:20px;
}
#main #zbl #bldh{
background-color:#F9F9F9;
border:1px solid #cccccc;
width:156px;
height:1106px;
}
#main #zbl #bldh #dhkg{
width:156px;
height:20px;
}
#main #zbl #bldh .dhwz{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldh #dhfg{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #zbl .bldhsmd{
background-color:#F9F9F9;
border:1px solid #cccccc;
width:156px;
height:1126px;
}
#main #zbl .bldhsmd .dhkg{
width:156px;
height:20px;
}
#main #zbl .bldhsmd .dhwz{
color:#0088cc;
margin-left:20px;
}
#main #zbl .bldhsmd .dhfg{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #zbl #bldh33{
background-color:#FFFFFF;
border:1px solid #cccccc;
width:156px;
height:1122px;
}
#main #zbl #bldh33 .dhkg{
width:156px;
height:20px;
}
#main #zbl #bldh33 .dhwz{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldh33 .dhfg{
height:1px;
margin-top:10px;
margin-left:20px;
}
#main #zbl #bldhs{
background-color:#F9F9F9;
border:1px solid #cccccc;
width:156px;
height:968px;
}
#main #zbl #bldhs #dhkgs{
width:156px;
height:20px;
}
#main #zbl #bldhs .dhwzs{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhs #dhfgs{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #zbl #bldhs #bltp{
float:left;
height:756px;
width:155px;
}

#main #zbl #bldhsljc{
background-color:#F9F9F9;
border:1px solid #cccccc;
width:156px;
height:1010px;
}
#main #zbl #bldhsljc .dhkgs{
width:156px;
height:20px;
}
#main #zbl #bldhsljc .dhwzs{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhsljc .dhfgs{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #zbl #bldhsljc .bltp{
float:left;
height:756px;
width:155px;
}




#main #ybl{
height:auto;
margin-left:7px;
width:816px;
float:right;
background-color:#FFFFFF;
border:1px solid #cccccc;
}
#main #ybl #ybkg{
width:816px;
height:10px;
float:left;
}
#main #ybl .xxbt{
margin-left:40px;
font-size:14px;
font-weight:bold;
float:left;
}
#main #ybl .xxbtju{
margin-left:40px;
font-size:14px;
font-weight:bold;
float:left;
color:#ee4d07;
}#main #ybl .xxbtju1{
margin-left:40px;
font-size:14px;
font-weight:bold;
float:left;
}
#main #ybl .xxnw{
margin-left:55px;
color:#6e6e6e;
float:left;
line-height:20px;
width:740px;
}
#main #ybl .xxnwlv{
margin-left:55px;
color:#08a717;
float:left;
line-height:18px;
}
#main #ybl .xxnwlv6{
color:#08a717;
float:left;
line-height:18px;
}
#main #ybl .xxnwju{
margin-left:55px;
color:#ee4d07;
float:left;
line-height:18px;
}
#main #ybl .xxnwju11{
	margin-left:55px;
	float:left;
	line-height:22px;
	font-size:14px;
	letter-spacing:1px;
}
#main #ybl .xxnwjuc{
margin-left:55px;
color:#ee4d07;
float:left;
line-height:18px;
font-weight:bold;
}
#main #ybl .xxnwju3{
color:#ee4d07;
float:left;
line-height:18px;
}
#main #ybl #shiyitu{
height:96px;
width:611px;
margin-left:80px;
}
#main #ybl #shiyitu #xk{
height:96px;
width:140px;
float:left;}
#main #ybl #shiyitu #xkb{
width:17px;
height:96px;
float:left;}
#main #ybl #shiyitu1{
height:147px;
width:605px;
margin-left:60px;
float:left;
}
#main #ybl #shiyitumy{
height:87px;
width:569px;
margin-left:60px;
float:left;
}
#main #ybl #fplj{
float:left;
margin-left:600px;
height:19px;
}
#main #ybl #shiyitusm{
height:145px;
width:697px;
margin-left:60px;
float:left;
}
#main #ybl #shiyitu2{
width:814px;
float:left;
}
#main #ybl #shiyitusmtb{
width:814px;
margin-left:50px;
height:209px;
float:left;
}
#main #ybl #shiyitu3{
height:104px;
width:518px;
margin-left:120px;
float:left;
}
#main #ybl #shiyitu3 #xk3{
height:104px;
width:150px;
float:left;
}
#main #ybl #shiyitu3 #xkb3{
width:30px;
height:104px;
float:left;}


#main #tonglanhz{
margin-top:6px;
width:982px;
height:494px;
background-color:#FFFFFF;
border:1px solid #cccccc;
}
#main #tonglanhz #zkb{
height:500px;
width:150px;
float:left;}
#main #tonglanhz #zkb11{
height:494px;
width:90px;
float:left;}
#main #tonglanhz #hkb{
width:832px;
height:10px;
float:left;
}
#main #tonglanhz .hznw{
float:left;
width:832px;
color:#666666;
}
#main #tonglanhz #logolan{
height:110px;
width:654px;
float:left;
}
#main #tonglanhz #dichen{
width:982px;
float:left;}
#main #tonglanwh{
margin-top:6px;
width:982px;
height:700px;
background-color:#FFFFFF;
border:1px solid #cccccc;
}
#main #tonglanwh #zxtd{
float:left;}
#main #tonglanwh #nwwh{
margin-left:150px;
margin-top:40px;
float:left;
}
#main .tonglanzx{
margin-top:10px;
border:1px solid #cccccc;
background-color:#FFFFFF;
width:984px;
height:auto;
}



#main .tonglanzx1{
margin-top:10px;
border:1px solid #cccccc;
background-color:#FFFFFF;
width:982px;
height:288px;
background-image:url(../images/diyi11.jpg);
background-repeat:no-repeat;
}
#main .tonglanzx1 .zuo{
width:360px;
margin-top:30px;
margin-left:120px;
float:left;
}
#main .tonglanzx1 .zuo .shjiac{
	color:#bf1010;
	font-size:14px;
	font-weight:bold;
}
#main .tonglanzx1 .zuo .hsdl{
color:#3f3d3d;
font-size:14px;
letter-spacing:1px;
}
#main .tonglanzx1 .you{
width:360px;
margin-left:120px;
}
#main .tonglanzx1 .you .shjiac{
	color:#bf1010;
	font-size:14px;
	font-weight:bold;
}
#main .tonglanzx1 .you .hsdl{
color:#3f3d3d;
font-size:14px;
letter-spacing:1px;
}




#main .tonglanzx .xzbt{
width:auto;
padding-left:160px;
padding-top:25px;
}


#main .tonglanzxbz{
margin-top:10px;
border:1px solid #cccccc;
background-color:#FFFFFF;
width:984px;
height:300px;
}
#main .tonglanzxbz .xzbb{
width:420px;
margin-left:100px;
margin-top:100px;
float:left;
}
#main .tonglanzxbz .xzbbt{
width:359px;
height:282px;
margin-top:10px;
margin-left:20px;
float:left;
}
#main .tonglanzxbz .xzbb .jiac{
font-size:14px;
font-weight:bold;
}
#main .tonglanzxbz .xzbb .shjiac{
color:#CC0000;
font-size:14px;
font-weight:bold;
}

#main .tonglanzx .xzbb .jiac{
font-size:14px;
font-weight:bold;
}
#main .tonglanzx .xzbb .shjiac{
color:#CC0000;
font-size:14px;
font-weight:bold;
}
#main .tonglanzx .xzbt .shenhong{
color:#CC3300;
}
#main .tonglanzx .xxkj{
width:710px;
height:125px;
padding-left:210px;
padding-top:20px;
}
#main .tonglanzx .xxkj11{
width:600px;
height:1620px;
padding-left:190px;
padding-top:40px;
}
#main .tonglanzx .xxkj .zbkk{
width:156px;
height:125px;
float:left;
}
#main .tonglanzx .xxkj .ybkk{
width:494px;
height:125px;
padding-left:60px;
float:right;
}
#main .tonglanzx .xxkj .ybkk .yshd{
color:#696969;
}
#main .tonglanzx .fgxx{
margin-left:100px;
}
#main .tonglanzx .dt{
width:984px;
}




#main #tonglanwh #xwzx .dhszx{
color:#999999;
float:left;
line-height:26px;}
#main #tonglanwh #nwwh .sjsbt{
color:#cf1010;
float:left;}
#main #tonglanwh #nwwh .hsnwwh{
color:#666666;
float:left;
line-height:18px;}
#main #tonglanwh #nwwh #whkb{
height:10px;
float:left;
width:832px;}
#main #tonglanwh #nwwh #whkb11{
height:30px;
float:left;
width:832px;}
#main #tonglanwh #nwwh #whct{
margin-left:130px;
margin-top:20px;
height:28px;
width:426px;
float:left;}
#main #tonglanwh #whdt{
margin-top:0px;
height:255px;
width:982px;
float:none;
}
#main #tonglanwh #whdtzx{
margin-top:0px;
height:255px;
width:982px;
float:left;
}

#applenew{
height:1135px;
margin-left:7px;
width:818px;
float:right;
}
#applenew a{text-decoration: none;}
#applenew img{ border-style:none;}
.pic_1{height:269px;width:816px;background-repeat:no-repeat;border:1px solid #cccccc;}
.main_apple{margin:5px 0 0 0; height:858px; width:816px;background-color:#FFFFFF;border:1px solid #cccccc;}
.main_apple_m{padding:25px 0 0 46px; height:761px; width:725px;}













#main #yblyh{
height:auto;
margin-left:7px;
width:816px;
float:right;
background-color:#FFFFFF;
border:1px solid #cccccc;
}
#main #yblyh #zjfbyh{
width:645px;
height:auto;
float:left;
}
#main #yblyh #zjfbyh .bzwz{
padding-top:25px;
}
#main #yblyh #zjfbyh .wzzkb{
float:left;
width:50px;
height:2000px;
}
#main #yblyh #zjfbyh .wzzkbsl{
float:left;
width:50px;
height:525px;
}

#main #yblyh #zjfbyh .wzzkbsm{
float:left;
width:50px;
height:940px;
}
#main #yblyh #zjfbyh .wzzkbmy{
float:left;
width:50px;
height:1500px;
}
#main #yblyh #zjfbyh .bzwz .fent{
font-weight:bold;
line-height:20px;
}
#main #yblyh #zjfbyh .bzwz .cwbz{
font-size:14px;
font-weight:bold;
color:#bf1010;
line-height:20px;
}
#main #yblyh #zjfbyh .bzwz .tiw{
letter-spacing:1px;
line-height:30px;
}
#main #yblyh #zjfbyh .bzwz .tiw1{
letter-spacing:1px;
line-height:16px;
}
#main #yblyh #zjfbyh .bzwz .hd{
	color:#666666;
	letter-spacing:1px;
	line-height:16px;
	text-align: left;
}

#main #yblyh #zjfbyhtw{
width:760px;
height:auto;
float:left;
}
#main #yblyh #zjfbyhtw .bzwz{
padding-top:25px;
}
#main #yblyh #zjfbyhtw .wzzkb{
float:left;
width:50px;
height:1490px;
}
#main #yblyh #zjfbyhtw .wzzkbxx{
float:left;
width:50px;
height:535px;
}
#main #yblyh #zjfbyhtw .wzzkbsl{
float:left;
width:50px;
height:1090px;
}
#main #yblyh #zjfbyhtw .wzzkbsm{
float:left;
width:50px;
height:940px;
}
#main #yblyh #zjfbyhtw .wzzkbmy{
float:left;
width:50px;
height:1500px;
}
#main #yblyh #zjfbyhtw .bzwz .fent{
font-weight:bold;
line-height:20px;
}
#main #yblyh #zjfbyhtw .bzwz .cwbz{
font-size:14px;
font-weight:bold;
color:#bf1010;
line-height:20px;
}
#main #yblyh #zjfbyhtw .bzwz .tiw{
letter-spacing:1px;
line-height:30px;
}
#main #yblyh #zjfbyhtw .bzwz .tiw1{
letter-spacing:1px;
line-height:16px;
}
#main #yblyh #zjfbyhtw .bzwz .hd{
	color:#666666;
	letter-spacing:1px;
	line-height:16px;
	text-align: left;
}
#main #yblyh #zjfbyhtw .bzwz .hdsl{
	color:#666666;
	letter-spacing:1px;
	line-height:18px;
	text-align: left;
}


#main #yblyh #zjfbyhmujh{
width:645px;
height:auto;
float:left;
}
#main #yblyh #zjfbyhmujh .bzwz{
padding-top:25px;
line-height:16px;
}
#main #yblyh #zjfbyhmujh .bzwz .bufs{
color:#FF0000;
font-weight:bold;
}
#main #yblyh #zjfbyhmujh .bzwz .xhs{
color:#FF0000;
}
#main #yblyh #zjfbyhmujh .bzwz .hyc{
font-size:14px;
font-weight:bold;
}
#main #yblyh #zjfbyhmujh .bzwz .xhc{
font-weight:bold;
}
#main #yblyh #zjfbyhmujh .bzwz .huiyq{
color:#666666;
line-height:16px;
}
#main #yblyh #zjfbyhmujh .bzwz .m0{
width:100px;
}
#main #yblyh #zjfbyhmujh .bzwz .m1{
width:150px;
}
#main #yblyh #zjfbyhmujh .wzzkb{
float:left;
width:50px;
height:1300px;
}









#main #yblyh #zjfbyh #wenzikj{
width:520px;
height:auto;
float:left;
padding-top:20px;
}
#main #yblyh #zjfbyh #wenzikj111{
width:630px;
height:auto;
float:left;
padding-top:20px;
}
#main #yblyh #zjfbyh #wenzikj .hbt1{
font-size:14px;
padding-left:50px;
font-weight:bold;
}
#main #yblyh #zjfbyh #wenzikj .hbt2{
font-size:12px;
padding-left:50px;
margin-top:10px;
float:left;
}
#main #yblyh #zjfbyh #wenzikj .hbt33{
	font-size:12px;
	padding-left:50px;
	margin-top:10px;
	float:left;
	line-height:24px;
	color:#666666;
}


#main #yblyh #zjfbyh .tab{
border:1px solid #999999;
width:581px;
height:384px;
font-size:12px;
text-align: center;
line-height:20px;
margin-top:230px;
margin-left:50px;
color:#666666;
}
#main #yblyh #zjfbyh .tab .one{
	float:left;
	width:55px;
	height:18px;
	border:1px solid;
	font-size:12px;
	text-align: center;
	padding-top:2px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .tab .two{
	float:left;
	width:260px;
	height:18px;
	border:1px solid;
	font-size:12px;
	text-align: center;
	padding-top:2px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .tab .three{
	float:left;
	width:260px;
	height:18px;
	border:1px solid;
	font-size:12px;
	text-align: center;
	padding-top:2px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .tab .four1{
	float:left;
	width:55px;
	height:32px;
	border:1px solid;
	font-size:12px;
	text-align: center;
	padding-top:12px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .four2{
	float:left;
	width:260px;
	height:40px;
	border:1px solid;
	font-size:12px;
	text-align: center;
	padding-top:4px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .four22{
	float:left;
	width:260px;
	height:40px;
	border:1px solid;
	font-size:12px;
	text-align:left;
	padding-top:4px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .tab .four3{
	float:left;
	width:260px;
	height:32px;
	border:1px solid;
	font-size:12px;
	text-align: center;
	padding-top:12px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .tab .four33{
	float:left;
	width:260px;
	height:32px;
	border:1px solid;
	font-size:12px;
	text-align:left;
	padding-top:12px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .tab .five1{
	float:left;
	width:55px;
	height:95px;
	border:1px solid;
	font-size:12px;
	text-align: center;
	padding-top:85px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .tab .five2{
	float:left;
	width:260px;
	height:95px;
	border:1px solid;
	font-size:12px;
	text-align: center;
	padding-top:85px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .tab .five3{
	float:left;
	width:260px;
	height:170px;
	border:1px solid;
	font-size:12px;
	text-align:left;
	padding-top:10px;
	line-height:20px;
	border:1px solid #999999;
} 
#main #yblyh #zjfbyh .tab .wfd{
clear:both;
} 
#main #yblyh #zjfbyh #wenzikj111 .hbt1{
font-size:14px;
padding-left:50px;
font-weight:bold;
}
#main #yblyh #zjfbyh #wenzikj111 .hbt2{
font-size:12px;
padding-left:50px;
margin-top:10px;
float:left;
}
#main #yblyh #zjfbyh #wenzikj111 .hbt33{
	font-size:12px;
	padding-left:50px;
	margin-top:10px;
	float:left;
	line-height:24px;
	color:#666666;
}
#main #yblyh #zjfbyh #wenzikj111 .hbt3{
margin-top:10px;
margin-left:10px;
float:left;
}

#main #yblyh #zjfbyh #wenzikj .hbt3{
margin-top:10px;
margin-left:10px;
float:left;
}
#main #yblyh #zjfbyh #smyhdl{
margin-left:80px;
margin-top:30px;
}
#main #yblyh #zjfbyh #slyhdl{
margin-left:35px;
margin-top:30px;
}
#main #yblyh #zjfbyh #myyhdl{
margin-left:100px;
margin-top:30px;
}
#main #yblyh #zjfbyh #yhsmdlxj{
margin-left:80px;
margin-top:0px;
}
#main #yblyh #zjfbyh #yhsmdlxj22{
margin-left:0px;
margin-top:0px;
float:left;
background-image:url(../images/xinyong2xin_03.jpg);
background-repeat:no-repeat;
height:280px;
width:645px;
}
#main #yblyh #zjfbyh #yhsmdlxj22 .rar{
padding-top:91px;
padding-left:133px;
float:left;
}
#main #yblyh #zjfbyh #yhsmdlxj22 .zip{
float:left;
padding-left:350px;
}

#main #yblyh #zjfbyh #yhsmdlxj2222{
margin-left:0px;
margin-top:0px;
float:left;
background-image:url(../images/user_di1.jpg);
background-repeat:no-repeat;
height:473px;
width:645px;
}
.yhsmdlxj2222{
margin-left:0px;
margin-top:0px;
float:left;
background-color:#FFFFFF;
background-image:url(../images/user_di1.jpg);
background-repeat:no-repeat;
height:473px;
width:645px;
}
#main #yblyh #zjfbyh #yhsmdlxj22222{
margin-left:0px;
margin-top:0px;
float:left;
background-image:url(../images/user_di2.jpg);
background-repeat:no-repeat;
height:520px;
width:645px;
}
.yhsmdlxj22222{
margin-left:0px;
margin-top:0px;
float:left;
background-image:url(../images/user_di2.jpg);
background-repeat:no-repeat;
height:600px;
width:645px;
}
.jrjh1{
height:15px;
padding:230px 0 0 180px;
}
.jrjh11{
	height:15px;
	padding:220px 0 0 180px;
}
.jrjh2{
height:18px;
padding:25px 0 0 210px;
}
.jrjh3{
height:auto;
padding-top:15px; padding-left:120px;
}
.jrjh31{
height:auto;
padding-top:15px; padding-left:180px;
}
.jrjh4{
height:auto;
padding-top:10px; padding-left:150px;
line-height:18px;
}
.jrjh5{
height:auto;
padding-top:12px; padding-right:60px; padding-left:80px;
color:#999999;
}
.jrjh6{
height:auto;
padding-top:20px; padding-right:90px; padding-left:180px;
}
.jrjh7{
height:auto;
padding:5px 60px 0 180px;
color:#999999;
line-height:18px;
}

#main #yblyh #zjfbyh #yhsmdlxj66{
margin-left:0px;
margin-top:0px;
float:left;
background-image:url(../images/xinronghushuma.jpg);
background-repeat:no-repeat;
height:255px;
width:645px;
}

#main #yblyh #zjfbyh #yhsmdlxj333{
padding-left:160px;
padding-top:300px;
}

#main #yblyh #zjfbyh #yhsmdlxj1{
margin-left:200px;
margin-top:0px;
}
#main #yblyh #zjfbyh #jhlc{
margin-left:120px;
margin-top:10px;
}
#main #yblyh #zjfbyh #yhsmdlxj1 .yh0{
font-size:12px;
width:180px;
}
#main #yblyh #zjfbyh #yhsmdlxj1 .yh9{
font-size:12px;
width:180px;
margin-top:10px;
}
#main #yblyh #zjfbyh #yhsmdlxj1 .yh8{
margin-top:10px;
}
#main #yblyh #zjfbyh #yhsmdlxj33{
padding-left:160px;
padding-top:265px;
}
#main #yblyh #zjfbyh #yhsmdlxj33 .yh0{
font-size:12px;
width:180px;
}
#main #yblyh #zjfbyh #yhsmdlxj33 .yh9{
font-size:12px;
width:180px;
margin-top:10px;
}
#main #yblyh #zjfbyh #yhsmdlxj33 .yh8{
margin-top:10px;
}



#main #yblyh #zjfbyh #chaxun{
margin-left:90px;
margin-top:20px;
width:449px;
height:79px;
background-image:url(../images/yonghuzhuanqu_03 (1).jpg);
}
#main #yblyh #zjfbyh #chaxun #cxsrl{
font-size:12px;
width:150px;
background-color:#FFFFFF;
border:0px;
border-color:#FFFFFF;
margin-top:43px;
margin-left:10px;
float:left;
}
#main #yblyh #zjfbyh #chaxun #cxjrl{
margin-top:40px;
margin-left:8px;
float:left;
}
#main #yblyh #zjfbyh #xiazai{
margin-left:90px;
margin-top:20px;
width:453px;
height:171px;
}
#main #yblyh #zjfbyh .heibt{
margin-top:20px;
margin-left:20px;}
#main #yblyh #zjfbyh #jhtp{
margin-top:0px;
margin-left:0px;
height:243px;
width:644px;
float:left;
}
#main #yblyh #zjfbyh #yibai1{
margin-top:0px;
margin-left:0px;
height:493px;
width:645px;
float:left;
}
#main #yblyh #zjfbyh #yibai1 .shenma{
padding-left:50px;
padding-top:20px;
}
#main #yblyh #zjfbyh #yibai1 .shenma p{
padding-top:10px;
}
#main #yblyh #zjfbyh #yibai{
margin-top:0px;
margin-left:0px;
height:493px;
width:645px;
float:left;
background-image:url(../images/dbaiduyi2.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #yibai .shenmacg{
padding-left:150px;
padding-top:290px;
}
#main #yblyh #zjfbyh #yibai .shenma{
padding-left:160px;
padding-top:320px;
}
#main #yblyh #zjfbyh #jhtpsmx{
margin-top:0px;
margin-left:0px;
height:493px;
width:645px;
float:left;
background-image:url(../images/dbaiduyi1.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpsmx .shenma{
padding-left:160px;
padding-top:300px;
}
#main #yblyh #zjfbyh #jhtp1{
margin-top:0px;
margin-left:0px;
}
#main #yblyh #zjfbyh #jhtp123{
margin-top:0px;
margin-left:0px;
height:493px;
width:645px;
background-image:url(../images/xinronghushuma.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpsmx .yh0{
font-size:12px;
width:180px;
}
#main #yblyh #zjfbyh #jhtpsmx .yh9{
font-size:12px;
width:180px;
margin-top:10px;
}
#main #yblyh #zjfbyh #jhtp123 .yh0{
font-size:12px;
width:180px;
}
#main #yblyh #zjfbyh #jhtp123 .yh9{
font-size:12px;
width:180px;
margin-top:10px;
}
#main #yblyh #zjfbyh #jhtp123 .buzhidao{
padding-left:200px;
padding-top:200px;
}
#main #yblyh #zjfbyh #jhtp222{
margin-top:0px;
margin-left:0px;
height:493px;
width:645px;
background-image:url(../images/gaileyougai1.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpmyhy{
margin-top:5px;
margin-left:0px;
height:523px;
width:645px;
background-image:url(../images/myhyditu1.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpmyhy1{
margin-top:5px;
margin-left:0px;
height:690px;
width:645px;
background-image:url(../images/myhyditu2.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpmyhy1 .zhongjian{
margin-left:60px;
margin-top:30px;
float:left;
}

#main #yblyh #zjfbyh #jhtpmyzhmm{
margin-top:0px;
margin-left:0px;
height:523px;
width:645px;
background-image:url(../images/myhu_zhmm.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpmyzhmm .zhongjian{
margin-left:190px;
margin-top:300px;
float:left;
}

#main #yblyh #zjfbyh #jhtpmyhy .zhongjian{
margin-left:60px;
margin-top:30px;
float:left;
}
#main #yblyh #zjfbyh #jhtpmyhy .myan{
float:left;
width:79px;
height:22px;
margin-left:35px;
margin-top:20px;
padding-top:5px;
background-image:url(../images/mywyzhoutu.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpmyhy .myan1{
float:left;
width:79px;
height:22px;
margin-left:10px;
margin-top:20px;
padding-top:5px;
background-image:url(../images/mywyzhoutu.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpmyhy .myan2{
float:left;
width:79px;
height:22px;
margin-left:10px;
margin-top:20px;
padding-top:5px;
background-image:url(../images/mywyzhoutu.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpmyhy .myan3{
float:left;
width:79px;
height:22px;
margin-left:35px;
margin-top:20px;
padding-top:5px;
background-image:url(../images/mywyzhoutu.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpmyhy .twxx{
margin-top:50px;
margin-left:90px;
float:left;
}




#main #yblyh #zjfbyh #jhtp666{
margin-top:0px;
margin-left:0px;
height:900px;
width:645px;
background-image:url(../images/applewocao22.jpg);
background-repeat:no-repeat;
}

#main #yblyh #zjfbyh #jhtpappleiph{
margin-top:0px;
margin-left:0px;
height:513px;
width:645px;
background-image:url(../images/iphonedengliu1.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpappleiph .ipad .yh0{
font-size:12px;
width:180px;
}
#main #yblyh #zjfbyh #jhtpappleiph .ipad{
padding-top:330px;
padding-left:170px;
}
#main #yblyh #zjfbyh #jhtpappleiph .iplc{
padding-top:310px;
padding-left:140px;
float:left;
}
#main #yblyh #zjfbyh #jhtpappleiph .iphjh1{
padding-top:50px;
padding-left:195px;
float:left;
}
#main #yblyh #zjfbyh #jhtpappleiph .iphjh2{
padding-top:50px;
padding-left:270px;
float:left;
}

#main #yblyh #zjfbyh #jhtpcg{
margin-top:0px;
margin-left:0px;
height:513px;
width:645px;
background-image:url(../images/chenggongapple.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpcg .ipad{
padding-top:330px;
padding-left:170px;
}
#main #yblyh #zjfbyh #jhtpcg .ipad .yh0{
font-size:12px;
width:180px;
}
#main #yblyh #zjfbyh #jhtpcg .iplccg{
padding-top:330px;
padding-left:150px;
float:left;
}
#main #yblyh #zjfbyh #jhtpcg .iphjhcg{
padding-top:20px;
padding-left:270px;
float:left;
}
#main #yblyh #zjfbyh #jhtpcg .iplccg .cuhs{
color:#cc0000;
font-size:14px;
font-weight:bold;
}
#main #yblyh #zjfbyh #jhtpcg .iplccg .xhs{
color:#666666;
font-size:12px;
}
#main #yblyh #zjfbyh #jhtpcg .iplccg .xhongs{
color:#cc0000;
font-size:12px;
}


#main #yblyh #zjfbyh #jhtpidcg{
margin-top:0px;
margin-left:0px;
height:513px;
width:645px;
background-image:url(../images/chenggengipad.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpidcg .ipad{
padding-top:330px;
padding-left:170px;
}
#main #yblyh #zjfbyh #jhtpidcg .ipad .yh0{
font-size:12px;
width:180px;
}
#main #yblyh #zjfbyh #jhtpidcg .iplccg{
padding-top:330px;
padding-left:150px;
float:left;
}
#main #yblyh #zjfbyh #jhtpidcg .iphjhcg{
padding-top:20px;
padding-left:270px;
float:left;
}
#main #yblyh #zjfbyh #jhtpidcg .iplccg .cuhs{
color:#cc0000;
font-size:14px;
font-weight:bold;
}
#main #yblyh #zjfbyh #jhtpidcg .iplccg .xhs{
color:#666666;
font-size:12px;
}
#main #yblyh #zjfbyh #jhtpidcg .iplccg .xhongs{
color:#cc0000;
font-size:12px;
}







#main #yblyh #zjfbyh #jhtpapple{
margin-top:0px;
margin-left:0px;
height:513px;
width:645px;
background-image:url(../images/pingguozhuanqu.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpiphone{
margin-top:0px;
margin-left:0px;
height:513px;
width:645px;
background-image:url(../images/appleiphonezhuce.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpipad{
margin-top:0px;
margin-left:0px;
height:513px;
width:645px;
background-image:url(../images/xiangxixinxiipad.jpg);
background-repeat:no-repeat;
}
#main #yblyh #zjfbyh #jhtpapple .ipad{
padding-top:330px;
padding-left:170px;
}
#main #yblyh #zjfbyh #jhtpapple .ipad .yh0{
font-size:12px;
width:180px;
}
#main #yblyh #zjfbyh #jhtpapple .iplc{
padding-top:310px;
padding-left:140px;
float:left;
}
#main #yblyh #zjfbyh #jhtpapple .iphjh1{
padding-top:50px;
padding-left:270px;
float:left;
}
#main #yblyh #zjfbyh #jhtpapple .iphjh2{
padding-top:50px;
padding-left:70px;
float:left;
}
#main #yblyh #zjfbyh #jhtp666 .iphjh{
padding-top:350px;
padding-left:150px;
float:left;
}
#main #yblyh #zjfbyh #jhtp666 .ipht{
padding-top:40px;
padding-left:110px;
float:left;
}
#main #yblyh #zjfbyh #jhtp666 .ipht .huizi{
font-weight:bold;
}
#main #yblyh #zjfbyh #jhtp666 .ipht .zhuizi{
color:#666666;
}
#main #yblyh #zjfbyh #jhtp666 .yh0{
font-size:12px;
width:150px;
}
#main #yblyh #zjfbyh #jhtp666 .yh1{
font-size:12px;
width:70px;
}
#main #yblyh #zjfbyh #jhtp666 .yh1111{
font-size:12px;
width:120px;
}
#main #yblyh #zjfbyh #jhtp666 .yh123{
font-size:12px;
width:250px;
}

#main #yblyh #zjfbyh #jhtpipad .ipht{
padding-top:20px;
padding-left:30px;
float:left;
}
#main #yblyh #zjfbyh #jhtpipad .ipht .huizi{
font-weight:bold;
}
#main #yblyh #zjfbyh #jhtpipad .ipht .hongz{
color:#ce0b0b;
}
#main #yblyh #zjfbyh #jhtpipad .ipht .zhuizi{
color:#666666;
}
#main #yblyh #zjfbyh #jhtpipad .ipht .zhuizi1{
color:#999999;
}
#main #yblyh #zjfbyh #jhtpipad .yh0{
font-size:12px;
width:150px;
}
#main #yblyh #zjfbyh #jhtpipad .yh1{
font-size:12px;
width:72px;
}
#main #yblyh #zjfbyh #jhtpipad .yh1111{
font-size:12px;
width:120px;
}
#main #yblyh #zjfbyh #jhtpipad .yh123{
font-size:12px;
width:250px;
}


#main #yblyh #zjfbyh #jhtpiphone .ipht{
padding-top:40px;
padding-left:30px;
float:left;
}
#main #yblyh #zjfbyh #jhtpiphone .ipht .huizi{
font-weight:bold;
}
#main #yblyh #zjfbyh #jhtpiphone .ipht .hongz{
color:#ce0b0b;
}
#main #yblyh #zjfbyh #jhtpiphone .ipht .zhuizi{
color:#666666;
}
#main #yblyh #zjfbyh #jhtpiphone .ipht .zhuizi1{
color:#999999;
}
#main #yblyh #zjfbyh #jhtpiphone .yh0{
font-size:12px;
width:150px;
}
#main #yblyh #zjfbyh #jhtpiphone .yh1{
font-size:12px;
width:72px;
}
#main #yblyh #zjfbyh #jhtpiphone .yh1111{
font-size:12px;
width:120px;
}
#main #yblyh #zjfbyh #jhtpiphone .yh123{
font-size:12px;
width:250px;
}

#main #yblyh #zjfbyh #jhtpmydl{
margin-top:0px;
margin-left:0px;
height:493px;
width:645px;
}
#main #yblyh #zjfbyh #yhsmdlxjmydl{
padding-left:40px;
padding-top:20px;
}
#main #yblyh #zjfbyh #yhsmdlxjmydl .yh0{
font-size:12px;
width:180px;
}

#main #yblyh #zjfbyh #yhsmdlxjmydl .yh8{
width:100px;
}







#main #yblyh #zjfbyh #jhtp666 .yh9{
font-size:12px;
width:150px;
margin-top:10px;
}
#main #yblyh #zjfbyh #jhtp333{
margin-top:0px;
margin-left:0px;
height:493px;
width:645px;
background-image:url(../images/yonghuzhuanxinleyouxin3.jpg);
background-repeat:no-repeat;
}
#main #yblyh #ybbfyh{
width:155px;
float:right;
}
#main #yblyh #ybbfyh #tiwen ul{
margin-top:20px;
margin-left:10px;
list-style-type:none;
}
#main #yblyh #ybbfyh #tiwen ul li{
margin-left:5px;
list-style-type:none;
}
#main #yblyh #ybbfyh ul .gengduo{
font-size:12px;
margin-left:75px;
line-height:24px;
color:#0066FF;
}
#main #yblyh #ybbfyh #tiwenfg{
margin-top:20px;
margin-left:25px;
}
#main #yblyh #ybbfyh .tiwen1{
padding-top:20px;
padding-left:15px;
}
#main #yblyh #ybbfyh #tiwen2{
padding-top:128px;
padding-left:45px;
}
#main #yblyh #ybbfyh #tiwen66{
padding-top:146px;
padding-left:45px;
}

#main #yblyh #ybbfyh #tiwen3{
padding-top:323px;
padding-left:45px;
}
#main #yblyh #ybbfyh #tiwen .yhjuzi{
line-height:7px;
color:#bf1010;
}
#main #yblyh #ybbfyh #tiwen .yhhuise{
line-height:22px;
color:#666666;
}
#main #yblyh #ybbfyh #tiwen1{
margin-left:10px;
margin-top:30px;}
#main #yblyh #ybbfyh #tiwen1111{
margin-left:10px;
margin-top:40px;}
#main #yblyh #ybbfyh #tiwen77{
padding-top:255px;
padding-left:45px;
}

#main #yblyh #fgxyh{
width:1px;
margin-top:15px;
margin-left:10px;
float:left;
}

#main #zbl #bldhyh{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:auto;
}
#main #zbl #bldhyhmm{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:670px;
}
#main #zbl #bldhyhmm .dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyhmm .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyhmm .dhwzyhzc{
color:#0088cc;
margin-left:20px;
font-weight:bold;
}
#main #zbl #bldhyhmm .dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyhmm .yhdhctmyhy{
margin-top:170px;

}
#main #zbl #bldhyhmm .dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}



#main #zbl #bldhyhsl11{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:640px;
}
#main #zbl #bldhyhsl11 .dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyhsl11 .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyhsl11 .dhwzyhzc{
color:#0088cc;
margin-left:20px;
font-weight:bold;
}
#main #zbl #bldhyhsl11 .dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyhsl11 .yhdhct{
margin-top:100px;
}
#main #zbl #bldhyhsl11 .dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #zbl #bldhyhcj{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:1465px;
}
#main #zbl #bldhyhcj .dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyhcj .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyhcj .dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyhcj .yhdhct{
margin-top:950px;
}
#main #zbl #bldhyhcj .dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #zbl #bldhyhxx{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:510px;
}
#main #zbl #bldhyhxx .dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyhxx .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyhxx .dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyhxx .yhdhct{
margin-top:0px;
}
#main #zbl #bldhyhxx .dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}






#main #zbl #bldhyhmy{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:1475px;
}
#main #zbl #bldhyhmy .dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyhmy .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyhmy .dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyhmy .yhdhct{
margin-top:950px;
}
#main #zbl #bldhyhmy .dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}


#main #zbl #bldhyhsm{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:915px;
}
#main #zbl #bldhyhsm .dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyhsm .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyhsm .dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyhsm .yhdhct{
margin-top:350px;
}
#main #zbl #bldhyhsm .dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}
#main #zbl #bldhyhslsl{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:1065px;
}
#main #zbl #bldhyhslsl .dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyhslsl .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyhslsl .dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyhslsl .yhdhct{
margin-top:480px;
}
#main #zbl #bldhyhslsl .dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #zbl #bldhyhsl{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:503px;
}
#main #zbl #bldhyhsl .dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyhsl .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyhsl .dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyhsl .yhdhct{
margin-top:00px;
}
#main #zbl #bldhyhsl .dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #zbl #bldhyhmyzzxx{
background-color:#FcFcFc;
border:1px solid #cccccc;
width:156px;
height:1275px;
}
#main #zbl #bldhyhmyzzxx .yhdhct{
margin-top:750px;
}
#main #zbl #bldhyhmyzzxx .dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyhmyzzxx .dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyhmyzzxx .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyhmyzzxx .dhwzyhzc{
color:#0088cc;
margin-left:20px;
font-weight:bold;
}
#main #zbl #bldhyhmyzzxx .dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}








#main #zbl #bldhyh #yhdhct{
margin-top:0px;
}
#main #zbl #bldhyh #yhdhctmyhy{
margin-top:38px;
}
#main #zbl #bldhyh #dhkgyh{
width:156px;
height:20px;
}
#main #zbl #bldhyh #dhkgyh11{
width:156px;
height:10px;
}
#main #zbl #bldhyh .dhwzyh{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhyh .dhwzyhzc{
color:#0088cc;
margin-left:20px;
font-weight:bold;
}
#main #zbl #bldhyh #dhfgyh{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #kfdhl{
margin-top:3px;
width:984px;
height:50px;
background-image:url(../images/baochunshouye_10.jpg);
background-repeat:repeat-x;
}
#main #kfdhl #zj{
height:50px;
float:left;
background-image:url(../images/baochunshouye_08.jpg);
width:9px;}
#main #kfdhl #yj{
height:50px;
float:right;
background-image:url(../images/baochunshouye_12.jpg);
width:9px;}
#main #kfdhl #dhxx{
height:23px;
width:245px;
padding-top:13px;
margin-left:367px;
}
#main #sfwl{
margin-top:6px;
width:984px;
height:155px;}
#main #sfwl .sxfk{
height:155px;
width:236px;
float:left;
}
#main #sfwl .sxkb{
height:155px;
width:13px;
float:left;
}

#main #zbl #bldhcp{
background-color:F9F9F9;
border:1px solid #cccccc;
width:156px;
height:325px;
}
#main #zbl #bldhcp #dhkgcp{
width:156px;
height:20px;
}
#main #zbl #bldhcp #dhkgcp11{
width:156px;
height:10px;
}
#main #zbl #bldhcp .dhwzcp{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhcp #dhfgcp{
height:1px;
margin-top:10px;
margin-left:20px;
}
#main #yblcp{
height:auto;
margin-left:7px;
width:816px;
float:right;
background-color:#FFFFFF;
border:1px solid #cccccc;
}
#main #yblcp #cpsk{
width:201px;
height:350px;
float:left;
}
#main #yblcp #cpsk #jsxxcp{
height:170px;
width:155px;
padding-top:25px;
margin-left:25px;
}
#main #yblcp #cpsk #jsxxcp11{
height:170px;
width:158px;
padding-top:25px;
margin-left:25px;
}
#main #yblcp #cpsk #jsxxcp11 .cpbt11{
font-size:14px;
font-weight:bold;
width:158px;
line-height:8px;
}
#main #yblcp #cpsk #jsxxcp11 .cpnwh11{
color:#666666;
line-height:20px;
width:158px;
}
#main #yblcp #cpsk #jsxxcp11 .cpgd11{
color:#0099FF;
line-height:20px;
}
#main #yblcp #cpsk #jstpcp{
float:left;
width:200px;
height:150px;
}
#main #yblcp #cpsk #jsxxcp .cpbt{
font-size:14px;
font-weight:bold;
width:150px;
line-height:8px;
}

#main #yblcp #cpsk #jsxxcp .cpnwh{
color:#666666;
line-height:20px;
width:150px;
}

#main #yblcp #cpsk #jsxxcp .cpgd{
color:#0099FF;
line-height:20px;
}
#main #yblcp .cpkb1{
height:300px;
width:1px;
float:left;
}

#main #zbl #bldhmy{
background-color:#FFFFFF;
border:1px solid #cccccc;
width:156px;
height:390px;
}
#main #zbl #bldhmy #dhkgmy{
width:156px;
height:20px;
}
#main #zbl #bldhmy .dhwzmy{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhmy #dhfgmy{
height:1px;
margin-top:10px;
margin-left:20px;
}
#main #zbl #bldhmyss{
background-color:#FFFFFF;
border:1px solid #cccccc;
width:156px;
height:520px;
}
#main #zbl #bldhmyss #dhkgmy{
width:156px;
height:20px;
}
#main #zbl #bldhmyss .dhwzmy{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhmyss #dhfgmy{
height:1px;
margin-top:10px;
margin-left:20px;
}



#main #zbl #bldhmy2{
background-color:#FFFFFF;
border:1px solid #cccccc;
width:156px;
height:532px;
}
#main #zbl #bldhmy2 #dhkgmy2{
width:156px;
height:20px;
}
#main #zbl #bldhmy2 .dhwzmy2{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhmy2 #dhfgmy2{
height:1px;
margin-top:10px;
margin-left:20px;
}
#main #ybl #shiyitumy{
width:657px;
height:889px;
margin-left:70px;
}
#main #ybl #shiyitumy4{
margin-left:100px;
}

#main #zbl #bldhmy3{
background-color:#F9F9F9;
border:1px solid #cccccc;
width:156px;
height:1160px;
}
#main #zbl #bldhmy3 #dhkgmy3{
width:156px;
height:20px;
}
#main #zbl #bldhmy3 .dhwzmy3{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhmy3 #dhfgmy3{
height:1px;
margin-top:10px;
margin-left:20px;
}

#main #zbl #bldhmy4{
background-color:#F9F9F9;
border:1px solid #cccccc;
width:156px;
height:354px;
}
#main #zbl #bldhmy4 .dhkgmy3{
width:156px;
height:20px;
}
#main #zbl #bldhmy4 .dhwzmy3{
color:#0088cc;
margin-left:20px;
}
#main #zbl #bldhmy4 .dhfgmy3{
height:1px;
margin-top:10px;
margin-left:20px;
}



.menu_table
{
margin-left:45px;
	line-height:25px;
	border-top:solid 1px #666666;
	border-left:solid 1px #666666;
	color:#666666;
}
td
{
	border-right:solid 1px #666666;
	border-bottom:solid 1px #666666;
}
.menu_table_toptr
{	color:#666666;
}

#main #yblyh #zjfbyh #jhtp124{
margin-top:0px;
margin-left:0px;
height:493px;
width:645px;
background-image:url(../images/xinronghushuma_mobile.jpg);
background-repeat:no-repeat;
}
#jhtp1214{font:12px/1.6 "宋体",Arial, Helvetica, sans-serif;height:493px;width:645px;background:url(../images/xin_mobile1.jpg) no-repeat;}
.telmes{ width:540px; padding:190px 0 0 100px;}
#jhtp1214 ul .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
#jhtp1214 ul .clearfix{zoom:1;}
#jhtp1214 ul .clear{clear:both; height:0; line-height:0; font-size:0;}
#jhtp1214 ul .fl{float:left; display:inline; }
#jhtp1214 ul .fr{float:right ; display:inline;}
#jhtp1214 ul .xingz{height:20px; width:196px;}  
#jhtp1214 ul select{height:25px; width:200px;}
#jhtp1214 ul li{list-style-type:none; padding-bottom:10px;}


.tonglanpa{
margin:0 auto;
width:788px;
height:583px;
background-image:url(../images/u_pa_a_d.jpg);
background-repeat:no-repeat;
}
.tonglanpab{
margin:0 auto;
width:788px;
height:583px;
background-image:url(../images/u_pa_b_d.jpg);
background-repeat:no-repeat;
}
 .nrbf{
position:absolute;
padding-top:213px;
padding-left:105px;}
 .nrbf .akbs{
margin-left:105px;
font-size:12px;}
 .nrbf .tbxx1{
margin:6px 0 0 100px;
line-height:18px;}
 .nrbf p{
line-height:20px;}
 .nrbf .tbxx1 p{
line-height:25px;}